#app {
  padding: 20px;
}

/* --- Grid Container for Modules --- */
#app-modules {
  display: grid;
  /* Create a responsive grid: columns are at least 70px wide */
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 800px;
}

/* --- Individual Icon & Label Container --- */
.app-configElement-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* --- The Clickable Icon Anchor --- */
.app-configElement-link-anchor {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 50px;
  width: 50px;
}

.app-configElement-link-anchor img {
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.app-configElement-link-label {
  color: #343a40;
  font-size: 0.9em;
  /* We have grid width of 70 and 24 gap */
  max-width: 90px;
  text-align: center;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
