:root {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#panel {
  flex-shrink: 0;
  margin-top: auto;
}
